<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="com.bharath.spring.constructorinjection.Address"
          name="address" p:houseNumber="122" p:street="mira mesa" p:city="hoolywood"/>

    <!--FIRST WAY-->
    <!--<bean class="com.bharath.spring.constructorinjection.Employee" name="employee">-->
        <!--<constructor-arg>-->
            <!--<value>123</value>-->
        <!--</constructor-arg>-->
        <!--<constructor-arg>-->
            <!--<ref bean="address"/>-->
        <!--</constructor-arg>-->
    <!--</bean>-->

    <!--SECOND WAY-->
    <!--<bean class="com.bharath.spring.constructorinjection.Employee" name="employee">-->
        <!--<constructor-arg value="123"/>-->
        <!--<constructor-arg ref="address"/>-->
    <!--</bean>-->

    <!--THIRD WAY-->
    <bean class="com.bharath.spring.constructorinjection.Employee"
          name="employee" c:id="122" c:address-ref="address"/>
</beans>