<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="com/bharath/spring/propertyplaceholder/database.properties"/>

    <bean class="com.bharath.spring.propertyplaceholder.MyDAO"
          name="myDAO">
        <constructor-arg>
            <value>${dbServer}</value>
            <!--BELOW DOESN'T WORK -> CASE SENSITIVE-->
            <!--<value>${dbserver}</value>-->
        </constructor-arg>
    </bean>
</beans>